<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-section">
                <h3>GIỚI THIỆU</h3>
                <ul>
                    <li><a href="/ve-chung-toi/">Về Chúng Tôi</a></li>
                    <li><a href="/thoa-thuan-su-dung/">Thoả Thuận Sử Dụng</a></li>
                    <li><a href="/quy-che-hoat-dong/">Quy Chế Hoạt Động</a></li>
                    <li><a href="/chinh-sach-bao-mat/">Chính Sách Bảo Mật</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>GÓC ĐIỆN ẢNH</h3>
                <ul>
                    <li><a href="/dien-anh/">Thể Loại Phim</a></li>
                    <li><a href="/binh-luan-phim/">Bình Luận Phim</a></li>
                    <li><a href="/movie-blog/">Blog Điện Ảnh</a></li>
                    <li><a href="/phim-hay/">Phim Hay Tháng</a></li>
                    <li><a href="/phim-imax/">Phim IMAX</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>HỖ TRỢ</h3>
                <ul>
                    <li><a href="/gop-y/">Góp Ý</a></li>
                    <li><a href="/sale-and-service/">Sale & Services</a></li>
                    <li><a href="/rap-gia-ve/">Rạp / Giá Vé</a></li>
                    <li><a href="https://tuyendung-daotao.galaxystudio.vn/" target="_blank">Tuyển Dụng</a></li>
                    <li><a href="/hoi-dap/">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <img src="https://www.galaxycine.vn/media/2024/11/11/glx-footer.svg" alt="Galaxy Cinema" />
                <div class="social-icons">
                    <a href="https://www.facebook.com/galaxycinevn" class="social-icon" target="_blank">
                        <img src="~/images/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.youtube.com/user/galaxymovies" class="social-icon" target="_blank">
                        <img src="~/images/youtube.png" alt="YouTube">
                    </a>
                    <a href="https://www.instagram.com/galaxycinema" class="social-icon" target="_blank">
                        <img src="~/images/instagram.png" alt="Instagram">
                    </a>
                </div>


                <img src="/picture/Bocongthuong.png" alt="Bộ Công Thương" class="bocongthuong" />
            </div>
        </div>
        <div class="footer-bottom">
            <img src="~/images/hub_logo_new.png" alt="Logo" />
            <div>
                <h3>CÔNG TY CỔ PHẦN PHIM THIÊN NGÂN</h3>
                <p>806 QL22, ấp Mỹ Hoà 3, Hóc Môn, Hồ Chí Minh, Việt Nam</p>
                <p>☎ 028.39.333.303 - 📞 19002224 (9:00 - 22:00) - ✉ <a href="mailto:hotro@galaxystudio.vn">hotro@galaxystudio.vn</a></p>
            </div>
        </div>
    </div>
</footer>