<div class="bg-light">
    <div class="container py-2">
        <h2 class="text-center fw-bold mb-4">Sơ đồ ghế</h2>
        <div class="d-flex justify-content-center">
            <div id="seat-matrix" class="seat-matrix py-4"></div>
        </div>
    </div>
    <script src="~/js/seat-matrix-bootstrap.js"></script> <!-- Razor dùng ~ để đại diện cho root -->
</div>