<div class="container-fluid bg-white pb-5">
    <div class="banner-slider row gx-3">
        <div class="col-12 banner-item mx-3">
            <img src="~/images/banner1.jpg" class="img-fluid rounded-3 w-100" alt="banner1" />
        </div>
        <div class="col-12 banner-item mx-3">
            <img src="~/images/banner2.jpg" class="img-fluid rounded-3 w-100" alt="banner2" />
        </div>
        <div class="col-12 banner-item mx-3">
            <img src="~/images/banner3.jpg" class="img-fluid rounded-3 w-100" alt="banner3" />
        </div>
        <div class="col-12 banner-item mx-3">
            <img src="~/images/banner4.jpg" class="img-fluid rounded-3 w-100" alt="banner4" />
        </div>
        <div class="col-12 banner-item mx-3">
            <img src="~/images/banner5.jpg" class="img-fluid rounded-3 w-100" alt="banner5" />
        </div>
        <div class="col-12 banner-item mx-3">
            <img src="~/images/banner6.jpg" class="img-fluid rounded-3 w-100" alt="banner6" />
        </div>
        <div class="col-12 banner-item mx-3">
            <img src="~/images/banner7.jpg" class="img-fluid rounded-3 w-100" alt="banner7" />
        </div>
    </div>
</div>
