@model MovieTicketWebsite.Models.HomeIndexViewModel

<main>
    @await Html.PartialAsync("_IndexBanner") <!-- banner vẫn gán cứng -->
    @await Html.PartialAsync("_IndexMovie", Model.Movies)
    @await Html.PartialAsync("_IndexCombo", Model.Combos)
</main>
