@model MovieTicketWebsite.Models.HomeIndexViewModel

<main>
    @await Html.PartialAsync("_IndexBanner") <!-- banner vẫn gán cứng -->
    @await Html.PartialAsync("_IndexMovie", Model.Movies)
    @await Html.PartialAsync("_IndexCombo", Model.Combos)

    @if (TempData["RegisterMessage"] != null)
    {
        <script>
            const encodedMsg = "@TempData["RegisterMessage"]";
            const txt = document.createElement("textarea");
            txt.innerHTML = encodedMsg;
            alert(txt.value);
        </script>
    }

    @if (TempData["ForgotMessage"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const encodedMsg = "@TempData["ForgotMessage"]";
                const txt = document.createElement("textarea");
                txt.innerHTML = encodedMsg;
                alert(txt.value);
                if (typeof openForgotModal === "function") openForgotModal();
            });
        </script>
    }




</main>
@if (TempData["OpenConfirmModal"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            if (typeof openConfirmModal === "function") {
                openConfirmModal();
            }
        });
    </script>
}

@Html.Partial("_ConfirmPasswordModal")
<script src="~/js/ConfirmModalHandler.js"></script>

