<div class="container py-4">
    <div class="row g-4">
        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/Superman_Bom_T_n_-_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">10/07/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-superman-bandana/" class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/JW4_MMPa_240x201.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">07/07/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-jurassic-promo2/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/2025_SAC_Name_N_O_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">05/07/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-coca-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/2025_Superman_N_O_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">05/07/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-superman-combo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/240x201_11_.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">04/07 - 27/07/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/giftcard-superman-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/jurassicno.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">04/07/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-jurassic-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/052025/240x201_2_.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">CGV Member Day</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-ngay-doi/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/240x201_12_.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">02/7/2025 - 30/9/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-paconnie-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/062025/240x201_10_.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">Quà Sinh Nhật MIỄN PHÍ</p>
                    <a href="https://www.cgv.vn/default/newsoffer/birthday-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/062025/240x201-cj-k-festa.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">21/6 - 12/7</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cj-k-festa-2025/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/062025/240x201-vr.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">27/06/2025 - 13/07/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-chaeunwoo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/062025/2025_Smurfs_N_O_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">27/06/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-xitrum-combo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/Resize_240x201.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">25/06/2025 - 03/08/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-vnpay-promotion/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/062025/240x201_1.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">27/06/2025 – 27/08/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-hdbank-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/052025/MMP_Promote_240x201.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">06/06/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-summer-fest/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/062025/N_O_240x201_1_.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">22/06/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-httyd-screenx/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/062025/240x201_5_1_.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">20/06/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/du-an-phim-ngan-cj/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/062025/240x201px.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">13/06/2025 - 13/09/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-vpbank-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/062025/240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">12/06 - 30/06/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/xem-phim-dinh-rinh-tivi-chat/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/032025/B_n_sao_c_a_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">01/06/2025 - 30/06/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-zalo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/2025_HTTYD2_N_N_O_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">30/05/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-httyd-combo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/072025/2025_Maruko_N_N_O_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">01/06/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-maruko-combo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/042025/TCB_x_CGV_240x201.News.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">30/04/2025 - 17/07/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-techcombank-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/042025/240_x_201.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">25/04/2025 - 23/08/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-napas-promotion/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/042025/240x201_1.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">02/05/2025 - 31/10/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-kbank-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/052025/240x201_2__1.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">25/04/2025 - 10/09/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-applepay-promotion/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/032025/240x201_6_.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">28/03/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-pdr-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/032025/ONL_N_O_240x201_1.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">17/03/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-ltb-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/042025/SCB_CGV_240x201_VN_copy.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">19/04/2025 - 01/02/2026</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-standardchartered-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/042025/24-25_banner_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">15/04/2025 - 14/07/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-thienlong-rewards/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/042025/2025_Garfield_N_O_240x201_1.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">12/04/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-bst-garfield/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/032025/240x201_7_.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">28/03/2025 - 31/12/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-vvip-2025/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/032025/Masita_N_O_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">15/03/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-bap-masita/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/032025/Cgv_-_NCB__Banner_app_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">07/03/2025 - 07/09/2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-ncb-promo/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2025/012025/2025_Phu_thu_N_O_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-surcharges/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2024/122024/240X201_14_.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">2025</p>
                    <a href="https://www.cgv.vn/default/newsoffer/member-policy2025/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2024/112024/Hotfood_menu_N_O_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">25/11/2024</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-food-sites/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2024/112024/240x201_10_.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">29/07/2024</p>
                    <a href="https://www.cgv.vn/default/newsoffer/claw-machine-new/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>


        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2024/072024/VGP_Vin_Gia_ve__240x201.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">Cư dân Vinhomes</p>
                    <a href="https://www.cgv.vn/default/newsoffer/gia-ve-cu-dan-vinhomes/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2024/042024/Ticket_Kiosk_240x201.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">12/04/2024</p>
                    <a href="https://www.cgv.vn/default/newsoffer/kiosk-cgv/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2024/122024/2024_Dec_U22_N_O_240x201.png"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">U22</p>
                    <a href="https://www.cgv.vn/default/newsoffer/u22-vn/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://cgv.vn/media/wysiwyg/2023/102023/N_O-hoan-ve-240x201.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">10/2023</p>
                    <a href="https://www.cgv.vn/default/newsoffer/hoan-ve-chu-dong/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 p-2" onclick="news(this)">
            <div class="card h-100 shadow-sm border-0 offer-card">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/wysiwyg/2023/072023/240x201_1.jpg"
                     class="card-img-top" alt="Ưu đãi CGV">
                <div class="card-body text-center">
                    <p class="text-danger fw-bold mb-2">Thẻ Quà Tặng</p>
                    <a href="https://www.cgv.vn/default/newsoffer/cgv-egift/"
                       class="btn btn-link text-primary fw-semibold text-decoration-none">Xem chi tiết</a>
                </div>
            </div>
        </div>
</div>

    