@{
    ViewData["Title"] = "Phim Đang Chiếu";
}

<section class="container py-5">
    <h2 class="text-center mb-4 fw-bold">Phim Đang Chiếu</h2>
    <div class="row g-4">
        <!-- Phim 1 -->
        <div class="col-md-4 col-sm-6">
            <div class="card h-100 shadow-sm border-0 d-flex flex-column align-items-center">
                <img src="~/picture/doraemon.jpg" asp-append-version="true" class="movie-poster" alt="NHIỆM VỤ: BẤT KHẢ THI">
                <div class="card-body">
                    <h5 class="card-title text-danger fw-bold">NHIỆM VỤ: BẤT KHẢ THI - NGHIỆP BÁO CUỐI CÙNG</h5>
                    <p class="mb-1"><strong>Thể loại:</strong> Hành Động, Hồi hộp, Phiêu Lưu</p>
                    <p class="mb-1"><strong>Thời lượng:</strong> 168 phút 58 giây</p>
                    <p class="mb-3"><strong>Khởi chiếu:</strong> 30-05-2025</p>
                    <a href="#" class="btn btn-danger w-100">Mua vé</a>
                </div>
            </div>
        </div>

        <!-- Phim 2 -->
        <div class="col-md-4 col-sm-6">
            <div class="card h-100 shadow-sm border-0 d-flex flex-column align-items-center">
                <img src="~/picture/doraemon.jpg" asp-append-version="true" class="movie-poster"  alt="DORAEMON">
                <div class="card-body">
                    <h5 class="card-title text-danger fw-bold">DORAEMON: NOBITA VÀ CUỘC PHIÊU LƯU VÀO THẾ GIỚI TRONG TRANH</h5>
                    <p class="mb-1"><strong>Thể loại:</strong> Hoạt Hình, Phiêu Lưu</p>
                    <p class="mb-1"><strong>Thời lượng:</strong> 105 phút</p>
                    <p class="mb-3"><strong>Khởi chiếu:</strong> 23-05-2025</p>
                    <a href="#" class="btn btn-danger w-100">Mua vé</a>
                </div>
            </div>
        </div>
    </div>
</section>
