.banner-section {
    max-width: 1828px;
    margin: 0 30px 40px 30px;
    border-radius: 5px;
    overflow: hidden;
}

    .banner-section img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 20px;
        object-fit: cover;
    }
