
.custom-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-modal-box {
    background-color:white;
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.custom-modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.link {
    text-decoration: none;
}
    .link:hover {
        color: orange !important;
        text-decoration: none;
    }